@page "/"
@page "/User"
@inject NavigationManager Navigator
@inject ApplicationDbContext DbContext
@inject ILogger<UserPage> Logger
@code
{
    protected override void OnInitialized()
    {
        Logger.LogInformation("Fetch user from database");
        if(DbContext.Users.Include(u => u.Plants).FirstOrDefault() is not User user)
        {
            Logger.LogInformation("Create user in database");
            user = new User();
            DbContext.Users.Add(user);
            DbContext.SaveChanges();
        }
        User = user;
    }
}

<Layout Sider>
    <LayoutSider>
        <LayoutSiderContent Class="flex flex-col space-y-2 bg-pink-300 p-1">
            <Div Class="flex aspect-square w-[95%] flex-row items-center justify-center self-center rounded border border-gray-900 bg-gray-300">User photo</Div>
            <Addons>
                <Addon AddonType=AddonType.Start>
                    <Text Class="mx-1">Name</Text>
                </Addon>
                <Addon AddonType=AddonType.Body>
                    <TextEdit @bind-Text=User.Name />
                </Addon>
            </Addons>
            <Addons Class="w-full rounded-[10px] border-2 border-gray-900">
                <Addon AddonType=AddonType.Start>
                    <Text Class="mx-1">ID</Text>
                </Addon>
                <Addon AddonType=AddonType.Body>
                    <Text Class="mx-1 flex w-full flex-row items-center justify-start">@User.Id</Text>
                </Addon>
            </Addons>
        </LayoutSiderContent>
    </LayoutSider>
    <LayoutContent Class="flex flex-col space-y-1 overflow-auto p-1">
        @foreach(Plant plant in User.Plants)
        {
            <PlantListItem Plant=plant />
        }
        <Button Clicked=AddPlant Class="flex flex-row justify-center rounded border border-black bg-blue-300 text-2xl">Add Plant</Button>
    </LayoutContent>
</Layout>

@code
{
    public User User { get; set; } = null!;

    private void AddPlant()
    {
        Logger.LogInformation("Add plant to database");
        Plant plant = new();
        User.Plants.Add(plant);
        DbContext.SaveChanges();
        plant = User.Plants.Last();
        Navigator.NavigateTo($"/User/Plant/{plant.Id}");
    }
}