@inject NavigationManager Navigator

<Button Class="flex flex-row items-center rounded border border-black bg-green-300 p-1" @onclick=NavigateToPlantPage>
    <Div Class="h-[50px] w-[50px] rounded border border-black bg-gray-300" />
    <Div Class="ml-2 flex flex-col items-start justify-between">
        <Div Class="text-xl">Plant</Div>
        <Div Class="text-[10px]">ID: @Guid.NewGuid()</Div>
    </Div>
</Button>

@code
{
    private void NavigateToPlantPage()
    {
        Navigator.NavigateTo("/User/Plant");
    }
}