@inject NavigationManager Navigator

<Button Class="flex flex-row items-center rounded border border-black bg-green-300 p-1" @onclick=NavigateToPlantPage>
    <Image Source="PlantPhoto.jpg" Class="aspect-square w-[50px] rounded border border-gray-900" />
    <Div Class="ml-2 flex flex-col items-start justify-between">
        <Div Class="text-xl">@Plant.Name</Div>
        <Div Class="text-[10px]">@Plant.Id</Div>
    </Div>
</Button>

@code
{
    [Parameter] public required Plant Plant { get; set; }

    private void NavigateToPlantPage()
    {
        Navigator.NavigateTo($"/User/Plant/{Plant.Id}");
    }
}